body {
  font-family: 'Montserrat', sans-serif; }

.main-logo {
  width: 10rem; }

.mb30 {
  margin-bottom: 3rem; }

header {
  background: url("../images/headerbg.jpg");
  height: 30rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem; }
  header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem; }
    header h1 span {
      font-weight: 700; }
  header .header-button {
    background: #34B69F;
    align-self: flex-start;
    padding: .8rem 3rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: .1rem; }
    header .header-button:hover {
      background: #298e7c;
      transition: all .5s; }

.solution-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .solution-box__image {
    width: 8rem; }
  .solution-box__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem; }

.catalog {
  height: 25rem;
  background: url("../images/Group\ 2.jpg"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem; }
  .catalog h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    margin: 1.3rem 0 0 0; }
  .catalog h3 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 1.3rem 0 1.5rem 0;
    text-align: center; }
  .catalog .download-button {
    background: #34B69F;
    padding: .8rem 2rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: .2rem; }
    .catalog .download-button:hover {
      background: #298e7c;
      transition: all .5s; }

section.contact {
  margin-top: -1px;
  height: 43rem;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    section.contact {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      height: 60rem;
    } }
  section.contact .form-section {
    margin-left: 10%;
    margin-top: 4rem;
    width: 30vw;
  }
    @media (max-width: 1200px) {
      section.contact .form-section {
        margin-left: 0;
        margin-top: 1rem;
        width: 75vw; 
      } }
  section.contact .text-section {
    background-image: url("../images/3434.jpg"), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-size: cover;
    width: 55vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff; }
    @media (max-width: 1200px) {
      section.contact .text-section {
        clip-path: none;
        width: 100%;
        padding: 2rem;
        margin-top: -3rem; } }
    @media (max-width: 580px) {
      section.contact .text-section {
        margin-top: 0; } }
    @media (max-width: 485px) {
      section.contact .text-section {
        margin-top: 2rem; } }
    section.contact .text-section h2 {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-style: italic;
      margin-bottom: 2rem; }
    section.contact .text-section h3 {
      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: .2rem; }
    section.contact .text-section h2, section.contact .text-section h3 {
      align-self: flex-start;
      margin-left: 20%; }
      @media (max-width: 1200px) {
        section.contact .text-section h2, section.contact .text-section h3 {
          text-align: center;
          align-self: center;
          margin-left: 0; } }

footer {
  color: #ffffff;
  background: #2A3C91; }
  footer .sub-footer {
    background: #1f2c69; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #34B69F; }


/*
  Styling all field elements for Ninja Form
*/
.ninja-forms-field {
  /* Your CSS styles */
	padding: 8px;
	border: none;
	background-color: #eee;
}

.nf-error-msg.nf-error-required-error{
	display: none;
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}
 